/* ---------------------- LAYOUT ----------------------  */

body {
  background: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
}

article {
  margin: 50px auto 100px auto;
  max-width: 1040px;
}


/* ---------------------- TYPOGRAPHY ----------------------  */

h1, h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

h1 {
  background: #fff;
  color: #000;
  line-height: 100px;
}

h2 {
  background: #000;
  color: #fff;
  line-height: 1.6;
}

p {
  font-size: 15px;
  margin: 10px 0;
}

a {
  outline: 0;
  text-decoration: none;
}

a:focus {
  color: #4af;
}


/* ---------------------- NAVIGATION ----------------------  */

nav {
  padding: 50px 0 0 0;
}

nav a {
  color: #ccc;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 0 20px;
  padding: 10px;
  text-transform: uppercase;
  width: 150px;
}

nav a.active {
  color: #fff;
  font-weight: 600;
  pointer-events: none;
}

nav a.active::after {
  background: #fff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 4px;
  margin: 8px auto;
  width: 4px;
}


/* ---------------------- PORTFOLIO ITEMS ----------------------  */

img {
  border: 20px solid #fff;
  box-sizing: border-box;
  color: #fff;
  display: block;
  height: auto;
  margin: 40px 0;
  max-width: 100%;
}

.details {
  color: #aaa;
  font-size: 13px;
}

.button {
  border: 1px solid #333;
  border-radius: 3px;
  color: #ccc;
  display: block;
  font-size: 13px;
  letter-spacing: 4px;
  margin: 0 auto 20px auto;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 400px;
}

.button:hover,
.button:focus {
  border: 1px solid #4af;
  color: #fff;
}
